In [1]:
#Importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import random
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("yds_data.csv") #reading data from the csv file

In [3]:
df.shape

(30697, 28)

In [4]:
df.head()

,Unnamed: 0,match_event_id,location_x,location_y,remaining_min,power_of_shot,knockout_match,game_season,remaining_sec,distance_of_shot,...,lat/lng,type_of_shot,type_of_combined_shot,match_id,team_id,remaining_min.1,power_of_shot.1,knockout_match.1,remaining_sec.1,distance_of_shot.1
0,0,10.0,167.0,72.0,10.0,1.0,0.0,2000-01,27.0,38.0,...,"45.539131, -122.651648",shot - 30,NaN,20000012,1610612747,10.00,1.0,50.608,54.2000,38.0
1,1,12.0,-157.0,0.0,10.0,1.0,0.0,2000-01,22.0,35.0,...,"45.539131, -122.651648",shot - 45,NaN,20000012,1610612747,10.00,1.0,28.800,22.0000,35.0
2,2,35.0,-101.0,135.0,7.0,1.0,0.0,2000-01,45.0,36.0,...,"45.539131, -122.651648",shot - 25,NaN,20000012,1610612747,92.64,1.0,0.000,63.7216,54.4
3,3,43.0,138.0,175.0,6.0,1.0,0.0,2000-01,52.0,42.0,...,"45.539131, -122.651648",NaN,shot - 3,20000012,1610612747,NaN,1.0,122.608,52.0000,42.0
4,4,155.0,0.0,0.0,NaN,2.0,0.0,2000-01,19.0,20.0,...,"45.539131, -122.651648",NaN,shot - 1,20000012,1610612747,42.64,2.0,0.000,19.0000,20.0

In [5]:
df.tail()

,Unnamed: 0,match_event_id,location_x,location_y,remaining_min,power_of_shot,knockout_match,game_season,remaining_sec,distance_of_shot,...,lat/lng,type_of_shot,type_of_combined_shot,match_id,team_id,remaining_min.1,power_of_shot.1,knockout_match.1,remaining_sec.1,distance_of_shot.1
30692,30692,397.0,1.0,48.0,6.0,4.0,1.0,1999-00,5.0,24.0,...,"42.982923, -71.446094",shot - 1,NaN,49900088,1610612747,17.2,4.00,1.0,5.0,24.0
30693,30693,398.0,0.0,0.0,6.0,4.0,1.0,1999-00,5.0,20.0,...,"42.982923, -71.446094",shot - 49,NaN,49900088,1610612747,6.0,64.36,1.0,5.0,20.0
30694,30694,426.0,-134.0,166.0,3.0,4.0,1.0,1999-00,28.0,41.0,...,NaN,NaN,shot - 3,49900088,1610612747,3.0,4.00,1.0,28.0,41.0
30695,30695,448.0,31.0,267.0,2.0,4.0,1.0,1999-00,10.0,46.0,...,"42.982923, -71.446094",shot - 26,NaN,49900088,1610612747,2.0,112.36,1.0,10.0,46.0
30696,30696,471.0,1.0,NaN,0.0,4.0,1.0,1999-00,39.0,27.0,...,"42.982923, -71.446094",shot - 45,NaN,49900088,1610612747,0.0,4.00,1.0,39.0,27.0

## Data Preprocessing

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,30697.0,1.534800e+04,8.861605e+03,0.000000e+00,7.674000e+03,1.534800e+04,2.302200e+04,3.069600e+04
match_event_id,29134.0,2.495760e+02,1.501860e+02,2.000000e+00,1.110000e+02,2.540000e+02,3.690000e+02,6.590000e+02
location_x,29236.0,7.383876e+00,1.102630e+02,-2.500000e+02,-6.800000e+01,0.000000e+00,9.500000e+01,2.480000e+02
location_y,29157.0,9.112693e+01,8.767640e+01,-4.400000e+01,4.000000e+00,7.400000e+01,1.600000e+02,7.910000e+02
remaining_min,29135.0,4.883233e+00,3.452533e+00,0.000000e+00,2.000000e+00,5.000000e+00,8.000000e+00,1.100000e+01
power_of_shot,29211.0,2.519359e+00,1.153976e+00,1.000000e+00,1.000000e+00,3.000000e+00,3.000000e+00,7.000000e+00
knockout_match,29180.0,1.459561e-01,3.530683e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
remaining_sec,29103.0,2.832938e+01,1.747066e+01,0.000000e+00,1.300000e+01,2.800000e+01,4.300000e+01,5.900000e+01
distance_of_shot,29130.0,3.344888e+01,9.369656e+00,2.000000e+01,2.500000e+01,3.500000e+01,4.100000e+01,9.900000e+01
is_goal,24429.0,4.453314e-01,4.970125e-01,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00
shot_id_number,29134.0,1.536858e+04,8.866521e+03,1.000000e+00,7.693250e+03,1.537850e+04,2.305575e+04,3.069700e+04
match_id,30697.0,2.476407e+07,7.755175e+06,2.000001e+07,2.050008e+07,2.090035e+07,2.960047e+07,4.990009e+07
team_id,30697.0,1.610613e+09,0.000000e+00,1.610613e+09,1.610613e+09,1.610613e+09,1.610613e+09,1.610613e+09
remaining_min.1,29162.0,1.820461e+01,2.941697e+01,0.000000e+00,3.000000e+00,6.000000e+00,1.100000e+01,1.287616e+02
power_of_shot.1,29158.0,1.599411e+01,2.967682e+01,1.000000e+00,2.000000e+00,3.000000e+00,4.000000e+00,1.183600e+02
knockout_match.1,29204.0,1.659940e+01,3.517202e+01,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.413523e+02
remaining_sec.1,29158.0,3.902730e+01,2.983528e+01,0.000000e+00,1.700000e+01,3.500000e+01,5.200000e+01,1.447856e+02
distance_of_shot.1,29129.0,3.880185e+01,1.878771e+01,9.400000e+00,2.600000e+01,3.600000e+01,4.400000e+01,1.157280e+02

In [7]:
#finding data type of columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30697 entries, 0 to 30696
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             30697 non-null  int64
 1   match_event_id         29134 non-null  float64
 2   location_x             29236 non-null  float64
 3   location_y             29157 non-null  float64
 4   remaining_min          29135 non-null  float64
 5   power_of_shot          29211 non-null  float64
 6   knockout_match         29180 non-null  float64
 7   game_season            24835 non-null  object
 8   remaining_sec          29103 non-null  float64
 9   distance_of_shot       29130 non-null  float64
 10  is_goal                24429 non-null  float64
 11  area_of_shot           29195 non-null  object
 12  shot_basics            29122 non-null  object
 13  range_of_shot          29133 non-null  object
 14  team_name              29162 non-null  object
 15  date_of_game           29147 non-null  object
 16  home/away              29200 non-null  object
 17  shot_id_number         29134 non-null  float64
 18  lat/lng                29132 non-null  object
 19  type_of_shot           15417 non-null  object
 20  type_of_combined_shot  15280 non-null  object
 21  match_id               30697 non-null  int64
 22  team_id                30697 non-null  int64
 23  remaining_min.1        29162 non-null  float64
 24  power_of_shot.1        29158 non-null  float64
 25  knockout_match.1       29204 non-null  float64
 26  remaining_sec.1        29158 non-null  float64
 27  distance_of_shot.1     29129 non-null  float64
dtypes: float64(15), int64(3), object(10)
memory usage: 6.6+ MB

##  Checking for Missing Values

In [8]:
#percentage and sum od missing values in each Columns

missing_data = pd.DataFrame({'total_missing': df.isnull().sum(),'missing_%': (df.isnull().sum()/df.shape[0]*100)})
missing_data

                       total_missing  missing_%
Unnamed: 0                         0   0.000000
match_event_id                  1563   5.091703
location_x                      1461   4.759423
location_y                      1540   5.016777
remaining_min                   1562   5.088445
power_of_shot                   1486   4.840864
knockout_match                  1517   4.941851
game_season                     5862  19.096329
remaining_sec                   1594   5.192690
distance_of_shot                1567   5.104733
is_goal                         6268  20.418933
area_of_shot                    1502   4.892986
shot_basics                     1575   5.130795
range_of_shot                   1564   5.094960
team_name                       1535   5.000489
date_of_game                    1550   5.049353
home/away                       1497   4.876698
shot_id_number                  1563   5.091703
lat/lng                         1565   5.098218
type_of_shot                   15280  49.776851
type_of_combined_shot          15417  50.223149
match_id                           0   0.000000
team_id                            0   0.000000
remaining_min.1                 1535   5.000489
power_of_shot.1                 1539   5.013519
knockout_match.1                1493   4.863667
remaining_sec.1                 1539   5.013519
distance_of_shot.1              1568   5.107991

In [9]:
#Exploring The Target Variable 'is_goal'
df.is_goal.value_counts()

is_goal
0.0    13550
1.0    10879
Name: count, dtype: int64

In [10]:
df.columns

Index(['Unnamed: 0', 'match_event_id', 'location_x', 'location_y',
       'remaining_min', 'power_of_shot', 'knockout_match', 'game_season',
       'remaining_sec', 'distance_of_shot', 'is_goal', 'area_of_shot',
       'shot_basics', 'range_of_shot', 'team_name', 'date_of_game',
       'home/away', 'shot_id_number', 'lat/lng', 'type_of_shot',
       'type_of_combined_shot', 'match_id', 'team_id', 'remaining_min.1',
       'power_of_shot.1', 'knockout_match.1', 'remaining_sec.1',
       'distance_of_shot.1'],
      dtype='object')

## EDA

In [11]:
#Droping Unnecessary Columns
df.drop(['Unnamed: 0','remaining_min.1','power_of_shot.1','knockout_match.1','remaining_sec.1','distance_of_shot.1'],axis=1,inplace=True)

In [12]:
df.head()

,match_event_id,location_x,location_y,remaining_min,power_of_shot,knockout_match,game_season,remaining_sec,distance_of_shot,is_goal,...,range_of_shot,team_name,date_of_game,home/away,shot_id_number,lat/lng,type_of_shot,type_of_combined_shot,match_id,team_id
0,10.0,167.0,72.0,10.0,1.0,0.0,2000-01,27.0,38.0,NaN,...,16-24 ft.,Manchester United,2000-10-31,MANU @ POR,1.0,"45.539131, -122.651648",shot - 30,NaN,20000012,1610612747
1,12.0,-157.0,0.0,10.0,1.0,0.0,2000-01,22.0,35.0,0.0,...,8-16 ft.,Manchester United,2000-10-31,MANU @ POR,2.0,"45.539131, -122.651648",shot - 45,NaN,20000012,1610612747
2,35.0,-101.0,135.0,7.0,1.0,0.0,2000-01,45.0,36.0,1.0,...,16-24 ft.,Manchester United,2000-10-31,NaN,3.0,"45.539131, -122.651648",shot - 25,NaN,20000012,1610612747
3,43.0,138.0,175.0,6.0,1.0,0.0,2000-01,52.0,42.0,0.0,...,16-24 ft.,Manchester United,2000-10-31,MANU @ POR,4.0,"45.539131, -122.651648",NaN,shot - 3,20000012,1610612747
4,155.0,0.0,0.0,NaN,2.0,0.0,2000-01,19.0,20.0,1.0,...,Less Than 8 ft.,NaN,2000-10-31,MANU @ POR,5.0,"45.539131, -122.651648",NaN,shot - 1,20000012,1610612747

In [13]:
df.columns

Index(['match_event_id', 'location_x', 'location_y', 'remaining_min',
       'power_of_shot', 'knockout_match', 'game_season', 'remaining_sec',
       'distance_of_shot', 'is_goal', 'area_of_shot', 'shot_basics',
       'range_of_shot', 'team_name', 'date_of_game', 'home/away',
       'shot_id_number', 'lat/lng', 'type_of_shot', 'type_of_combined_shot',
       'match_id', 'team_id'],
      dtype='object')

In [14]:
#  changing dtypes to datetime
df.data_of_game = pd.to_datetime(df.date_of_game,errors='coerce')
df['game_season'] = df['game_season'].astype('object')
df['game_season']

0        2000-01
1        2000-01
2        2000-01
3        2000-01
4        2000-01
          ...
30692    1999-00
30693    1999-00
30694    1999-00
30695    1999-00
30696    1999-00
Name: game_season, Length: 30697, dtype: object

In [15]:
# Labelencoding the 'game_season'

In [16]:
l_unique = df['game_season'].unique() 
l_unique

array(['2000-01', nan, '2001-02', '2002-03', '2003-04', '2004-05',
       '2005-06', '2006-07', '2007-08', '2008-09', '2009-10', '2010-11',
       '2011-12', '2012-13', '2013-14', '2014-15', '2015-16', '1996-97',
       '1997-98', '1998-99', '1999-00'], dtype=object)

In [17]:
v_unique = np.arange(len(l_unique))
v_unique

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20])

In [18]:
df['game_season'].replace(to_replace=l_unique,value = v_unique,inplace=True)# replacing categorical data with numerical values
df['game_season'].head()

0    0
1    0
2    0
3    0
4    0
Name: game_season, dtype: int64

In [19]:
df['game_season'] = df['game_season'].astype('int')
df['game_season'].head()

0    0
1    0
2    0
3    0
4    0
Name: game_season, dtype: int64

## Handling Missing Values

In [20]:
#Filling NaN values in Column "remaining_sec"with MEAN

df['power_of_shot'].fillna(value=df['power_of_shot'].mean(),inplace=True)
df.isnull().sum()

match_event_id            1563
location_x                1461
location_y                1540
remaining_min             1562
power_of_shot                0
knockout_match            1517
game_season                  0
remaining_sec             1594
distance_of_shot          1567
is_goal                   6268
area_of_shot              1502
shot_basics               1575
range_of_shot             1564
team_name                 1535
date_of_game              1550
home/away                 1497
shot_id_number            1563
lat/lng                   1565
type_of_shot             15280
type_of_combined_shot    15417
match_id                     0
team_id                      0
dtype: int64

In [21]:
#Filling NaN values in Column "type_of_combined_shot" with MODE
mode_com = df.type_of_combined_shot.value_counts().keys()[0]
print('moded is: ',mode_com)
df.type_of_combined_shot.fillna(value=mode_com,inplace=True)
df.isnull().sum()  #number of missing values for type_of _combined_shot column should be zero

moded is:  shot - 3

match_event_id            1563
location_x                1461
location_y                1540
remaining_min             1562
power_of_shot                0
knockout_match            1517
game_season                  0
remaining_sec             1594
distance_of_shot          1567
is_goal                   6268
area_of_shot              1502
shot_basics               1575
range_of_shot             1564
team_name                 1535
date_of_game              1550
home/away                 1497
shot_id_number            1563
lat/lng                   1565
type_of_shot             15280
type_of_combined_shot        0
match_id                     0
team_id                      0
dtype: int64

In [22]:
#filling NaN values in Column "remaining_sec" with MEDIAN

df.remaining_sec.fillna(value=df.remaining_sec.median(),inplace=True)
df.isnull().sum()

match_event_id            1563
location_x                1461
location_y                1540
remaining_min             1562
power_of_shot                0
knockout_match            1517
game_season                  0
remaining_sec                0
distance_of_shot          1567
is_goal                   6268
area_of_shot              1502
shot_basics               1575
range_of_shot             1564
team_name                 1535
date_of_game              1550
home/away                 1497
shot_id_number            1563
lat/lng                   1565
type_of_shot             15280
type_of_combined_shot        0
match_id                     0
team_id                      0
dtype: int64

In [23]:
#shot_id_no.
df.shot_id_number = pd.Series(np.arange(1,df.shot_id_number.shape[0]+1))
df.isnull().sum()

match_event_id            1563
location_x                1461
location_y                1540
remaining_min             1562
power_of_shot                0
knockout_match            1517
game_season                  0
remaining_sec                0
distance_of_shot          1567
is_goal                   6268
area_of_shot              1502
shot_basics               1575
range_of_shot             1564
team_name                 1535
date_of_game              1550
home/away                 1497
shot_id_number               0
lat/lng                   1565
type_of_shot             15280
type_of_combined_shot        0
match_id                     0
team_id                      0
dtype: int64

In [24]:
#Filling NaN values in columns 'Location_x' and Location_y with 0
df['location_x'].fillna(value=0, inplace = True)
df['location_y'].fillna(value= 0, inplace = True)
df.isnull().sum()

match_event_id            1563
location_x                   0
location_y                   0
remaining_min             1562
power_of_shot                0
knockout_match            1517
game_season                  0
remaining_sec                0
distance_of_shot          1567
is_goal                   6268
area_of_shot              1502
shot_basics               1575
range_of_shot             1564
team_name                 1535
date_of_game              1550
home/away                 1497
shot_id_number               0
lat/lng                   1565
type_of_shot             15280
type_of_combined_shot        0
match_id                     0
team_id                      0
dtype: int64

In [25]:
#Using Forward Filling method in appropriate Columns
print('Null values in column home/away before forward fill =',df['home/away'].isnull().sum())

col=['home/away','lat/lng','team_name','match_id','match_event_id','team_id','remaining_min','knockout_match','game_season']

df.loc[:,col]=df.loc[:,col].ffill()

print('Null values in column home/away after the forward fill =',df['home/away'].isnull().sum())

Null values in column home/away before forward fill = 1497
Null values in column home/away after the forward fill = 0

In [26]:
df[['shot_basics','range_of_shot']]

        shot_basics    range_of_shot
0         Mid Range        16-24 ft.
1         Mid Range         8-16 ft.
2         Mid Range        16-24 ft.
3         Mid Range        16-24 ft.
4         Goal Area  Less Than 8 ft.
...             ...              ...
30692           NaN  Less Than 8 ft.
30693     Goal Area  Less Than 8 ft.
30694     Mid Range        16-24 ft.
30695  Penalty Spot              NaN
30696     Goal Line  Less Than 8 ft.

[30697 rows x 2 columns]

In [27]:
df['shot_basics'].unique()

array(['Mid Range', 'Goal Area', 'Goal Line', 'Penalty Spot', nan,
       'Right Corner', 'Mid Ground Line', 'Left Corner'], dtype=object)

In [28]:
df['range_of_shot'].unique()

array(['16-24 ft.', '8-16 ft.', 'Less Than 8 ft.', '24+ ft.', nan,
       'Back Court Shot'], dtype=object)

In [29]:
# If shot range is 16–24 ft → Shot type is Mid Range
mask = (df['range_of_shot'] == '16-24 ft.') & (df['shot_basics'].isna())
df.loc[mask, 'shot_basics'] = 'Mid Range'



#If shot range is Less Than 8 ft
# Randomly assign: Goal Area or Goal Line
# -------------------------------------------------------
mask = (df['range_of_shot'] == 'Less Than 8 ft.') & (df['shot_basics'].isna())

df.loc[mask, 'shot_basics'] = np.random.choice(
    ['Goal Area', 'Goal Line'],
    size=mask.sum(),
    p=[0.7590347263, 0.2409652737]
)



#If shot range is 8–16 ft
# Randomly assign: Mid Range or Goal Line
mask = (df['range_of_shot'] == '8-16 ft.') & (df['shot_basics'].isna())

df.loc[mask, 'shot_basics'] = np.random.choice(
    ['Mid Range', 'Goal Line'],
    size=mask.sum(),
    p=[0.6488754616, 0.3511245384]
)



#If shot range is 24+ ft
# Randomly assign: Penalty Spot, Right Corner, Left Corner
mask = (df['range_of_shot'] == '24+ ft.') & (df['shot_basics'].isna())

df.loc[mask, 'shot_basics'] = np.random.choice(
    ['Penalty Spot', 'Right Corner', 'Left Corner'],
    size=mask.sum(),
    p=[0.8932384342, 0.0619217082, 0.0448398577]
)



# If shot is Back Court Shot
# Randomly assign: Mid Ground Line or Penalty Spot
mask = (df['range_of_shot'] == 'Back Court Shot') & (df['shot_basics'].isna())

df.loc[mask, 'shot_basics'] = np.random.choice(
    ['Mid Ground Line', 'Penalty Spot'],
    size=mask.sum(),
    p=[0.8441558442, 0.1558441558]
)



#Check remaining missing values
df.isna().sum()

match_event_id               0
location_x                   0
location_y                   0
remaining_min                0
power_of_shot                0
knockout_match               0
game_season                  0
remaining_sec                0
distance_of_shot          1567
is_goal                   6268
area_of_shot              1502
shot_basics                 66
range_of_shot             1564
team_name                    0
date_of_game              1550
home/away                    0
shot_id_number               0
lat/lng                      0
type_of_shot             15280
type_of_combined_shot        0
match_id                     0
team_id                      0
dtype: int64

In [30]:
df['shot_basics'].unique()

array(['Mid Range', 'Goal Area', 'Goal Line', 'Penalty Spot', nan,
       'Right Corner', 'Mid Ground Line', 'Left Corner'], dtype=object)

In [31]:
# Filling Missing Values In "range_of_shot" based on "shot_basics" column

# if shot_basics is Goal Area, then range of shot is Less Than 8 ft
df.loc[df.shot_basics == 'Goal Area','range_of_shot']=(
    df.loc[df.shot_basics=='Goal Area','range_of_shot']
       .fillna('Less Than 8 ft.')
)

# if shot_basics is Penalty Spot, then range of shot is 24+ ft.
df.loc[df.shot_basics=='Penalty Spot','range_of_shot'] =(
    df.loc[df.shot_basics == 'Right Corner','range_of_shot']
       .fillna('24+ ft.')
)

In [32]:
# Filling Missing Values In "range_of_shot" based on "shot_basics" column

# if shot_basics is Goal Area, then range of shot is Less Than 8 ft
df.loc[df.shot_basics == 'Goal Area', 'range_of_shot'] = (
    df.loc[df.shot_basics == 'Goal Area', 'range_of_shot']
      .fillna('Less Than 8 ft.')
)

# if shot_basics is Penalty Spot, then range of shot is 24+ ft.
df.loc[df.shot_basics == 'Penalty Spot', 'range_of_shot'] = (
    df.loc[df.shot_basics == 'Penalty Spot', 'range_of_shot']
      .fillna('24+ ft.')
)

# if shot_basics is Right Corner, then range of shot is 24+ ft.
df.loc[df.shot_basics == 'Right Corner', 'range_of_shot'] = (
    df.loc[df.shot_basics == 'Right Corner', 'range_of_shot']
      .fillna('24+ ft.')
)

# if shot_basics is Left Corner, then range of shot is 24+ ft.
df.loc[df.shot_basics == 'Left Corner', 'range_of_shot'] = (
    df.loc[df.shot_basics == 'Left Corner', 'range_of_shot']
      .fillna('24+ ft.')
)

# if shot_basics is Mid Ground Line, then range of shot is Back Court Shot
df.loc[df.shot_basics == 'Mid Ground Line', 'range_of_shot'] = (
    df.loc[df.shot_basics == 'Mid Ground Line', 'range_of_shot']
      .fillna('Back Court Shot')
)

# if shot_basics is Mid Range then randomly assign ranges
df.loc[
    (df.shot_basics == 'Mid Range') & (df.range_of_shot.isnull()),
    'range_of_shot'
] = np.random.choice(
    ['16-24 ft.', '8-16 ft.'],
    size=df[(df.shot_basics == 'Mid Range') & (df.range_of_shot.isnull())].shape[0],
    p=[0.6527708850289495, 0.34722911497105047]
)

# if shot_basics is Goal Line then randomly assign ranges
df.loc[
    (df.shot_basics == 'Goal Line') & (df.range_of_shot.isnull()),
    'range_of_shot'
] = np.random.choice(
    ['8-16 ft.', 'Less Than 8 ft.'],
    size=df[(df.shot_basics == 'Goal Line') & (df.range_of_shot.isnull())].shape[0],
    p=[0.5054360956752839, 0.49456390432471614]
)

# check missing values
df.isnull().sum()

match_event_id               0
location_x                   0
location_y                   0
remaining_min                0
power_of_shot                0
knockout_match               0
game_season                  0
remaining_sec                0
distance_of_shot          1567
is_goal                   6268
area_of_shot              1502
shot_basics                 66
range_of_shot               66
team_name                    0
date_of_game              1550
home/away                    0
shot_id_number               0
lat/lng                      0
type_of_shot             15280
type_of_combined_shot        0
match_id                     0
team_id                      0
dtype: int64

In [33]:
df['range_of_shot'].unique()

array(['16-24 ft.', '8-16 ft.', 'Less Than 8 ft.', '24+ ft.', nan,
       'Back Court Shot'], dtype=object)

In [34]:
# Filling the remaining missing values incase they both have NaN values using the forward fill 
df.shot_basics.fillna(method='ffill',inplace=True)
df.range_of_shot.fillna(method='ffill',inplace=True)
df.isnull().sum()

match_event_id               0
location_x                   0
location_y                   0
remaining_min                0
power_of_shot                0
knockout_match               0
game_season                  0
remaining_sec                0
distance_of_shot          1567
is_goal                   6268
area_of_shot              1502
shot_basics                  0
range_of_shot                0
team_name                    0
date_of_game              1550
home/away                    0
shot_id_number               0
lat/lng                      0
type_of_shot             15280
type_of_combined_shot        0
match_id                     0
team_id                      0
dtype: int64

In [35]:
# Filling the missing value in "ärea_of_short" Column
df.area_of_shot.fillna(value='Center(C)',inplace=True)
df.isnull().sum()

match_event_id               0
location_x                   0
location_y                   0
remaining_min                0
power_of_shot                0
knockout_match               0
game_season                  0
remaining_sec                0
distance_of_shot          1567
is_goal                   6268
area_of_shot                 0
shot_basics                  0
range_of_shot                0
team_name                    0
date_of_game              1550
home/away                    0
shot_id_number               0
lat/lng                      0
type_of_shot             15280
type_of_combined_shot        0
match_id                     0
team_id                      0
dtype: int64

In [36]:
df['distance_of_shot'].unique()

array([38., 35., 36., 42., 20., 34., 22., 32., 45., 37., nan, 29., 25.,
       40., 31., 27., 46., 39., 28., 33., 21., 47., 48., 44., 43., 24.,
       41., 67., 30., 49., 62., 23., 68., 50., 65., 26., 53., 56., 82.,
       51., 90., 63., 58., 57., 60., 52., 76., 55., 75., 71., 88., 59.,
       61., 84., 70., 69., 79., 80., 74., 94., 64., 81., 85., 72., 54.,
       66., 78., 89., 77., 73., 87., 91., 97., 99.])

In [37]:
# Filling the Missing values in "distance_of_shot"

df.loc[df['distance_of_shot'].isnull(),'distance_of_shot']=np.random.choice(
    [20,45,44,37],
    size=df['distance_of_shot'].isnull().sum(),
    p=[0.5278056615137523,
       0.18630797028709095,
       0.14384661714515157,
       0.1420397510540052]
)

#check missing value 
df.isnull().sum()

match_event_id               0
location_x                   0
location_y                   0
remaining_min                0
power_of_shot                0
knockout_match               0
game_season                  0
remaining_sec                0
distance_of_shot             0
is_goal                   6268
area_of_shot                 0
shot_basics                  0
range_of_shot                0
team_name                    0
date_of_game              1550
home/away                    0
shot_id_number               0
lat/lng                      0
type_of_shot             15280
type_of_combined_shot        0
match_id                     0
team_id                      0
dtype: int64

## Making the Train and Test Dataset

In [38]:
# train and test data are divided based on the vaue of is goal column

In [39]:
# Making the train Dataset
train = df[df.is_goal.notnull()]
print('the Shape of Train Dataset',train.shape)
train.set_index(np.arange(train.shape[0]),inplace=True)
train.head()

the Shape of Train Dataset (24429, 22)

,match_event_id,location_x,location_y,remaining_min,power_of_shot,knockout_match,game_season,remaining_sec,distance_of_shot,is_goal,...,range_of_shot,team_name,date_of_game,home/away,shot_id_number,lat/lng,type_of_shot,type_of_combined_shot,match_id,team_id
0,12.0,-157.0,0.0,10.0,1.0,0.0,0,22.0,35.0,0.0,...,8-16 ft.,Manchester United,2000-10-31,MANU @ POR,2,"45.539131, -122.651648",shot - 45,shot - 3,20000012,1610612747
1,35.0,-101.0,135.0,7.0,1.0,0.0,0,45.0,36.0,1.0,...,16-24 ft.,Manchester United,2000-10-31,MANU @ POR,3,"45.539131, -122.651648",shot - 25,shot - 3,20000012,1610612747
2,43.0,138.0,175.0,6.0,1.0,0.0,0,52.0,42.0,0.0,...,16-24 ft.,Manchester United,2000-10-31,MANU @ POR,4,"45.539131, -122.651648",NaN,shot - 3,20000012,1610612747
3,155.0,0.0,0.0,6.0,2.0,0.0,0,19.0,20.0,1.0,...,Less Than 8 ft.,Manchester United,2000-10-31,MANU @ POR,5,"45.539131, -122.651648",NaN,shot - 1,20000012,1610612747
4,244.0,-145.0,-11.0,9.0,3.0,0.0,1,32.0,34.0,0.0,...,8-16 ft.,Manchester United,2000-10-31,MANU @ POR,6,"45.539131, -122.651648",shot - 17,shot - 3,20000012,1610612747

In [40]:
# Making the Test Dataset
test = df[df.is_goal.isnull()]
print('The Shape of Test Dataset',test.shape)
test.set_index(np.arange(test.shape[0]), inplace=True)
test.head()

The Shape of Test Dataset (6268, 22)

,match_event_id,location_x,location_y,remaining_min,power_of_shot,knockout_match,game_season,remaining_sec,distance_of_shot,is_goal,...,range_of_shot,team_name,date_of_game,home/away,shot_id_number,lat/lng,type_of_shot,type_of_combined_shot,match_id,team_id
0,10.0,167.0,72.0,10.0,1.0,0.0,0,27.0,38.0,NaN,...,16-24 ft.,Manchester United,2000-10-31,MANU @ POR,1,"45.539131, -122.651648",shot - 30,shot - 3,20000012,1610612747
1,254.0,1.0,28.0,8.0,3.0,0.0,0,5.0,22.0,NaN,...,Less Than 8 ft.,Manchester United,2000-10-31,MANU @ POR,8,"45.539131, -122.651648",NaN,shot - 3,20000012,1610612747
2,100.0,0.0,0.0,0.0,1.0,0.0,0,1.0,20.0,NaN,...,Less Than 8 ft.,Manchester United,2000-11-01,MANU vs. UTA,17,"42.982923, -71.446094",NaN,shot - 4,20000019,1610612747
3,249.0,0.0,0.0,10.0,3.0,0.0,1,46.0,20.0,NaN,...,Less Than 8 ft.,Manchester United,2000-11-01,MANU vs. UTA,20,"42.982923, -71.446094",shot - 4,shot - 3,20000019,1610612747
4,265.0,134.0,127.0,9.0,3.0,0.0,1,4.0,38.0,NaN,...,16-24 ft.,Manchester United,2000-11-01,MANU vs. UTA,22,"42.982923, -71.446094",shot - 24,shot - 3,20000019,1610612747

## Handeling Missing Values in train and Test Datase

In [41]:
#Filling the Nan value with a random choice from given list with there appropriate probablities

In [42]:
l_goal = train[train.is_goal == 1].type_of_shot.value_counts().head(6).keys()
l_goal

Index(['shot - 4', 'shot - 39', 'shot - 44', 'shot - 36', 'shot - 15',
       'shot - 38'],
      dtype='object', name='type_of_shot')

In [43]:
p_g_sum  = train[train.is_goal == 1].type_of_shot.value_counts().head(6).sum() # Top six shots when it was goal
p_goal   = (train[train.is_goal == 1].type_of_shot.value_counts().head(6) / p_g_sum ).tolist()  # There respective probablities
p_goal

[0.2682060390763766,
 0.19182948490230906,
 0.14653641207815277,
 0.1447602131438721,
 0.12966252220248667,
 0.11900532859680284]

In [44]:
# if is_goal is 1, if type of shot is a string value, fill with the same or else fill with randomly choosing value from l_goal
g = pd.Series(train[train.is_goal == 1].type_of_shot.apply(lambda x: x if type(x)==str else np.random.choice(l_goal,1,p=p_goal)[0]))
g

1        shot - 25
3        shot - 39
5        shot - 39
6        shot - 36
9        shot - 39
           ...
24411    shot - 33
24413    shot - 15
24415    shot - 44
24421    shot - 39
24426    shot - 39
Name: type_of_shot, Length: 10879, dtype: object

In [45]:
# # if is_goal is 1, if type of shot is null then type of shot becomes equal to the value of g based on the index
train.loc[(train.is_goal == 1)&(train.type_of_shot.isnull()), 'type_of_shot'] = g

In [46]:
train['type_of_shot'].isna().sum()

np.int64(6723)

In [47]:
l_no_goal   = train[train.is_goal == 0].type_of_shot.value_counts().head(5).keys()     # Top five shots when it was not a goal
p_no_sum  = train[train.is_goal == 0].type_of_shot.value_counts().head(5).sum()
p_no_goal   = (train[train.is_goal == 0].type_of_shot.value_counts().head(5) / p_no_sum ).tolist() # There respective probablities 
ng = pd.Series(train[train.is_goal == 0].type_of_shot.apply(lambda x: x if type(x)==str else np.random.choice(l_no_goal,1,p=p_no_goal)[0]))
train.loc[(train.is_goal == 0)&(train.type_of_shot.isnull()), 'type_of_shot'] = ng 
train['type_of_shot'].isna().sum() # number of missing values got reduced to zero

np.int64(0)

In [48]:
#Handeling the remaing values in test dataset with a smilira approach
test.loc[test['type_of_shot'].isnull(), 'type_of_shot'] = pd.Series(test.loc[test['type_of_shot'].isnull(), 'type_of_shot'].apply(lambda x: x if type(x)==str else np.random.choice(['shot - 39', 'shot - 36', 'shot - 4'],1,p=[0.37377133988618727, 0.33419555095706155, 0.2920331091567512])[0]))

In [49]:
test['type_of_shot'].isna().sum() # we have removed the missing values from test set as well

np.int64(0)

Label Encoding the Object type Columns

In [50]:
# %%time
# # Labeling the catagories with integers
# for col in train.columns:
#     if train[col].dtypes == object: # if the column has categorical values
#         l_unique = train[col].unique() # find the unique values
#         v_unique = np.arange(len(l_unique)) # create a list of number from zero to the length of the I_unique values
#         train[col].replace(to_replace=l_unique, value=v_unique, inplace=True) # replace the categorical values with numerical values
#         train[col] = train[col].astype('int') # change the type from int64 to int32
        
#         # same has been done for test data as well
#         test[col].replace(to_replace=l_unique, value=v_unique, inplace=True)
#         test[col] = test[col].astype('int')

In [51]:
# Dropping the unnecessary Columns
train.drop(['date_of_game'], axis=1, inplace=True)
train.head()

,match_event_id,location_x,location_y,remaining_min,power_of_shot,knockout_match,game_season,remaining_sec,distance_of_shot,is_goal,...,shot_basics,range_of_shot,team_name,home/away,shot_id_number,lat/lng,type_of_shot,type_of_combined_shot,match_id,team_id
0,12.0,-157.0,0.0,10.0,1.0,0.0,0,22.0,35.0,0.0,...,Mid Range,8-16 ft.,Manchester United,MANU @ POR,2,"45.539131, -122.651648",shot - 45,shot - 3,20000012,1610612747
1,35.0,-101.0,135.0,7.0,1.0,0.0,0,45.0,36.0,1.0,...,Mid Range,16-24 ft.,Manchester United,MANU @ POR,3,"45.539131, -122.651648",shot - 25,shot - 3,20000012,1610612747
2,43.0,138.0,175.0,6.0,1.0,0.0,0,52.0,42.0,0.0,...,Mid Range,16-24 ft.,Manchester United,MANU @ POR,4,"45.539131, -122.651648",shot - 36,shot - 3,20000012,1610612747
3,155.0,0.0,0.0,6.0,2.0,0.0,0,19.0,20.0,1.0,...,Goal Area,Less Than 8 ft.,Manchester United,MANU @ POR,5,"45.539131, -122.651648",shot - 39,shot - 1,20000012,1610612747
4,244.0,-145.0,-11.0,9.0,3.0,0.0,1,32.0,34.0,0.0,...,Mid Range,8-16 ft.,Manchester United,MANU @ POR,6,"45.539131, -122.651648",shot - 17,shot - 3,20000012,1610612747

In [52]:
test.drop(['date_of_game'], axis=1, inplace=True)
test.head()

,match_event_id,location_x,location_y,remaining_min,power_of_shot,knockout_match,game_season,remaining_sec,distance_of_shot,is_goal,...,shot_basics,range_of_shot,team_name,home/away,shot_id_number,lat/lng,type_of_shot,type_of_combined_shot,match_id,team_id
0,10.0,167.0,72.0,10.0,1.0,0.0,0,27.0,38.0,NaN,...,Mid Range,16-24 ft.,Manchester United,MANU @ POR,1,"45.539131, -122.651648",shot - 30,shot - 3,20000012,1610612747
1,254.0,1.0,28.0,8.0,3.0,0.0,0,5.0,22.0,NaN,...,Goal Area,Less Than 8 ft.,Manchester United,MANU @ POR,8,"45.539131, -122.651648",shot - 36,shot - 3,20000012,1610612747
2,100.0,0.0,0.0,0.0,1.0,0.0,0,1.0,20.0,NaN,...,Goal Area,Less Than 8 ft.,Manchester United,MANU vs. UTA,17,"42.982923, -71.446094",shot - 4,shot - 4,20000019,1610612747
3,249.0,0.0,0.0,10.0,3.0,0.0,1,46.0,20.0,NaN,...,Goal Area,Less Than 8 ft.,Manchester United,MANU vs. UTA,20,"42.982923, -71.446094",shot - 4,shot - 3,20000019,1610612747
4,265.0,134.0,127.0,9.0,3.0,0.0,1,4.0,38.0,NaN,...,Mid Range,16-24 ft.,Manchester United,MANU vs. UTA,22,"42.982923, -71.446094",shot - 24,shot - 3,20000019,1610612747

In [53]:
# Splliting the Target Column from the Dataset
y = train.is_goal
y.head()

0    0.0
1    1.0
2    0.0
3    1.0
4    0.0
Name: is_goal, dtype: float64

In [54]:
train.drop(['is_goal'], axis=1, inplace=True)
train.head()

,match_event_id,location_x,location_y,remaining_min,power_of_shot,knockout_match,game_season,remaining_sec,distance_of_shot,area_of_shot,shot_basics,range_of_shot,team_name,home/away,shot_id_number,lat/lng,type_of_shot,type_of_combined_shot,match_id,team_id
0,12.0,-157.0,0.0,10.0,1.0,0.0,0,22.0,35.0,Left Side(L),Mid Range,8-16 ft.,Manchester United,MANU @ POR,2,"45.539131, -122.651648",shot - 45,shot - 3,20000012,1610612747
1,35.0,-101.0,135.0,7.0,1.0,0.0,0,45.0,36.0,Left Side Center(LC),Mid Range,16-24 ft.,Manchester United,MANU @ POR,3,"45.539131, -122.651648",shot - 25,shot - 3,20000012,1610612747
2,43.0,138.0,175.0,6.0,1.0,0.0,0,52.0,42.0,Right Side Center(RC),Mid Range,16-24 ft.,Manchester United,MANU @ POR,4,"45.539131, -122.651648",shot - 36,shot - 3,20000012,1610612747
3,155.0,0.0,0.0,6.0,2.0,0.0,0,19.0,20.0,Center(C),Goal Area,Less Than 8 ft.,Manchester United,MANU @ POR,5,"45.539131, -122.651648",shot - 39,shot - 1,20000012,1610612747
4,244.0,-145.0,-11.0,9.0,3.0,0.0,1,32.0,34.0,Left Side(L),Mid Range,8-16 ft.,Manchester United,MANU @ POR,6,"45.539131, -122.651648",shot - 17,shot - 3,20000012,1610612747

In [55]:
test.drop(['is_goal'], axis=1, inplace=True)
test.head()

,match_event_id,location_x,location_y,remaining_min,power_of_shot,knockout_match,game_season,remaining_sec,distance_of_shot,area_of_shot,shot_basics,range_of_shot,team_name,home/away,shot_id_number,lat/lng,type_of_shot,type_of_combined_shot,match_id,team_id
0,10.0,167.0,72.0,10.0,1.0,0.0,0,27.0,38.0,Right Side(R),Mid Range,16-24 ft.,Manchester United,MANU @ POR,1,"45.539131, -122.651648",shot - 30,shot - 3,20000012,1610612747
1,254.0,1.0,28.0,8.0,3.0,0.0,0,5.0,22.0,Center(C),Goal Area,Less Than 8 ft.,Manchester United,MANU @ POR,8,"45.539131, -122.651648",shot - 36,shot - 3,20000012,1610612747
2,100.0,0.0,0.0,0.0,1.0,0.0,0,1.0,20.0,Center(C),Goal Area,Less Than 8 ft.,Manchester United,MANU vs. UTA,17,"42.982923, -71.446094",shot - 4,shot - 4,20000019,1610612747
3,249.0,0.0,0.0,10.0,3.0,0.0,1,46.0,20.0,Center(C),Goal Area,Less Than 8 ft.,Manchester United,MANU vs. UTA,20,"42.982923, -71.446094",shot - 4,shot - 3,20000019,1610612747
4,265.0,134.0,127.0,9.0,3.0,0.0,1,4.0,38.0,Right Side Center(RC),Mid Range,16-24 ft.,Manchester United,MANU vs. UTA,22,"42.982923, -71.446094",shot - 24,shot - 3,20000019,1610612747

In [56]:
train.info() # we have converted all the categorical columns to numeric ones

<class 'pandas.core.frame.DataFrame'>
Index: 24429 entries, 0 to 24428
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   match_event_id         24429 non-null  float64
 1   location_x             24429 non-null  float64
 2   location_y             24429 non-null  float64
 3   remaining_min          24429 non-null  float64
 4   power_of_shot          24429 non-null  float64
 5   knockout_match         24429 non-null  float64
 6   game_season            24429 non-null  int64
 7   remaining_sec          24429 non-null  float64
 8   distance_of_shot       24429 non-null  float64
 9   area_of_shot           24429 non-null  object
 10  shot_basics            24429 non-null  object
 11  range_of_shot          24429 non-null  object
 12  team_name              24429 non-null  object
 13  home/away              24429 non-null  object
 14  shot_id_number         24429 non-null  int64
 15  lat/lng                24429 non-null  object
 16  type_of_shot           24429 non-null  object
 17  type_of_combined_shot  24429 non-null  object
 18  match_id               24429 non-null  int64
 19  team_id                24429 non-null  int64
dtypes: float64(8), int64(4), object(8)
memory usage: 3.9+ MB

In [57]:
train.isna().sum()

match_event_id           0
location_x               0
location_y               0
remaining_min            0
power_of_shot            0
knockout_match           0
game_season              0
remaining_sec            0
distance_of_shot         0
area_of_shot             0
shot_basics              0
range_of_shot            0
team_name                0
home/away                0
shot_id_number           0
lat/lng                  0
type_of_shot             0
type_of_combined_shot    0
match_id                 0
team_id                  0
dtype: int64